html {
    height: 100%;
}
.📦pt_16px {
    padding-top: 0px; 
    padding-left: 0px;
    padding-right: 0px;
  }
html:not([data-scroll='2']) {
    .ss {
        height: 120px;
        top: 0;
        background-color: rgba(44, 34, 42, 0.14);
        margin-top: 0%;
        box-shadow: 0 0 .5em rgba(0, 0, 0, .0);
        color: #fff;
        display: flex;
        font-size: 22px;
        font-weight: 800;
        justify-content: center;
        position: fixed;
        width: 100%;
    }
    .navbar {
        // height: 100px;
        top: 0;
        background-color: rgba(0, 0, 0, 0.11);
        margin-top: 0%;
        box-shadow: 0 0 .5em rgba(0, 0, 0, .0);
        color: #fff;       
        font-size: 22px;
        font-weight: 800;   
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    //  #logo_img{
    //     display: none;
    // }

    #amara_text {
        font-size: 17px;
    }

    .ss1 {
        height: 120px;
        top: 0;
        background-color: #221a1c;

        box-shadow: 0 0 .5em rgba(0, 0, 0, .0);
        color: #fff;
        display: flex;
        font-size: 22px;
        font-weight: 800;
        justify-content: center;
    }

}

html:not([data-scroll='0']) {

    .ss {
        transition-duration: 1s;
        position: fixed;
        height: 120px;
        top: 0;
        color: #fff;
        background-color: #000000;
        box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
        margin-top: 0px;

    }
    #logo_img{
        display: inline;
    }
    .navbar {
        transition-duration: 1s;
        position: fixed;
        // height: 100px;
        top: 0;
        color: #fff;
        background-color: #000000bf;
        box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
        margin-top: 0px;

    }
    #amara_img {
        height: 70px;
    }

    #amara_text {
        font-size: 16px;
    }

}

* {
    box-sizing: border-box;
}

.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}